body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(150, 150, 150, 0.1);
}
*,
*:after,
*:before {
  box-sizing: inherit;
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  background-color: rgb(34, 43, 54);
}
.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-element {
  margin-top: 20px;
  color: #fff;
  font-family: sans-serif;
}
.nav-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  height: 90%;
  cursor: pointer;
}
.nav-block hr {
  width: 100%;
  transition: 0.4s;
  border: 1px solid rgba(5, 155, 255, 0);
}
.nav-block:hover hr {
  border: 1px solid rgba(5, 155, 255, 1);
  transition: 0.4s;
}
.main-title {
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  font-family: sans-serif;
  margin: 45px;
}
.main-container {
  margin: 0 auto;
}
.search-block {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.categories-choice {
  height: 40px;
  width: 20%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  font-size: 16px;
}
.categories-choice:hover {
  border: 1px solid rgba(5, 155, 255, 1);
}
.search {
  font-size: 16px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding: 5px;
  height: 40px;
  width: 40%;
}
.search:hover {
  border: 1px solid rgba(5, 155, 255, 1);
}
.podcast-header {
  font-family: sans-serif;
  font-weight: normal;
}
.podcast-item {
  text-align: center;
  padding: 5px;
}
.podcast-title {
  font-size: 12px;
  text-align: left;
}
.podcast-block {
  margin-bottom: 100px;
}
.podcast-item img {
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .header-container {
    width: 1100px;
  }
  .main-container {
    width: 1100px;
  }
  .podcast-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media screen and (max-width: 1099px) {
  .podcast-title {
    font-size: 14px;
  }
  .main-container {
    width: 100%;
  }
  .podcast-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media screen and (max-width: 660px) {
  .categories-choice {
    font-size: 12px;
  }
  .main-container {
    width: 100%;
  }
  .podcast-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
  }
}
